/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/img/.DS_Store
public/img/bomb/.DS_Store
public/img/candies/.DS_Store
public/img/frozen/.DS_Store
public/img/lightning/.DS_Store
public/img/rocket/.DS_Store
public/img/ui/.DS_Store
public/levels/.DS_Store
public/assets/files/terms_kz.pdf
public/assets/files/terms_ru.pdf
public/assets/files/terms_uz.pdf
